MONGO_URI=mongodb://localhost/27017/Blitz

JWT_SECRET="sdklfmnlskdnfknsdklnkdfnklsdfnksdfnkdfldk4s646sd7f64s6d4f6sd"

PORT=5001



SMTP_HOST=smtp.gmail.host
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=user@email.com
SMTP_PASS= "sdfsdfsegdrsedrf"
SMTP_FROM="blitz"

